@use 'styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  h1 {
    font-size: 40px;
    font-weight: 600;
  }
  h2 {
    font-size: 27px;
    text-align: center;
  }
}

.footer {
  display: flex;
  gap: 0.3rem;
  span {
    cursor: pointer;
    transition: color 0.2s;
    font-weight: 500;
    color: $green-faded;
    &:hover {
      color: $green-light;
    }
  }
}