@use "styles/mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  width: 375px;
}

.formContainer {
  @include formContainer;
  input[type="submit"] {
    margin-top: 1rem;
  }
}

.rightInputIcon {
  @include rightInputIcon;
}
.leftInputIcon {
  @include leftInputIcon;
}
.inputCursor {
  @include inputCursor;
}