@use 'variables' as *;

@mixin formContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  input {
    width: 100%;
    height: 60px;
    padding: 10px;
    font-size: 20px;
    user-select: none;
    padding-left: 45px;
    border-radius: 8px;
    justify-self: center;
    background-color: $background-light;
    border: 2px solid transparent;
    color: $gray-dull;
    transition: border 0.2s, color 0.2s;
    outline: none;
    &:hover {
      color: $gray-faded;
      border: 2px solid $green-dull;
    }
    &:not([type="submit"]):focus {
      color: $gray-light;
      border: 2px solid $green-light;
    }
    &[type="submit"] {
      padding: 10px;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
      &:active {
        color: $gray-light;
        border: 2px solid $green-light;
      }
    }
  }
}

@mixin checkBox {
  input[type="checkbox"] {
    padding: 10px;
    cursor: pointer;
    appearance: none;
    margin: 0;
    border: none;
    width: 1em;
    height: 1em;
    border-radius: 4px;
    display: grid;
    place-content: center;
    transform: translateY(-0.035em);
    border: 2px solid rgba(235, 235, 235, 0.1);
    &:hover {
      border: 2px solid $green-dull;
    }
    &:checked {
      border: 2px solid $green-light;
    }
    &::before {
      content: "";
      width: 0.85em;
      height: 0.85em;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 40% 65%);
      transform: scale(0);
      transform-origin: center;
      transition: 115ms transform ease-in-out;
      background-color: $green-light;
    }
    &:checked::before {
      transform: scale(0.8);
    }
  }
}

@mixin rightInputIcon {
  position: absolute;
  width: 30px;
  font-size: 20px;
  transform: translate(-2em, 1em);
  transition: color 0.2s;
  color: $green-dull;
  cursor: pointer;
  &:hover {
    color: $green-faded;
  }
}

@mixin leftInputIcon {
  position: absolute;
  width: 30px;
  font-size: 20px;
  transform: translate(0.2em, 1em);
  color: $green-faded;
}

@mixin inputCursor {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 30px;
  /* custom color fix for width size */
  background-color: rgb(80, 215, 160);
  transform: translate(2.5em, 1em);
}