@use 'variables' as *;

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.devButton {
  width: fit-content;
  height: 30px;
  font-weight: 600;
  color: $gray-dull;
  user-select: none;
  border-radius: 8px;
  justify-self: center;
  border: 2px solid transparent;
  background-color: $background-light;
  transition: border 0.2s, color 0.2s;
  cursor: pointer;
  &:hover {
    color: $gray-faded;
    border: 2px solid $green-dull;
  }
  &:active {
    color: $gray-light;
    border: 2px solid $green-light;
  }
}

.userPageContainer {
  @media (max-width: 860px) {
    width: 800px;
  }
}