@use 'styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  textarea {
    outline: none;
    padding: 5px;
    min-width: 350px;
    max-width: 500px;
    min-height: 250px;
    max-height: 350px;
    font-size: 15px;
    color: $gray-faded;
    border-radius: 10px;
    border: 2px solid $gray-dark;
    background-color: $background-light;
    transition: border 0.2s;
    &:hover {
      border: 2px solid $green-dull;
    }
    &:focus {
      border: 2px solid $green-dull;
    }
  }
  input {
    width: 13rem;
    height: 60px;
    font-size: 20px;
    user-select: none;
    color: $gray-dull;
    border-radius: 8px;
    background-color: $background-light;
    border: 2px solid $gray-dark;
    transition: border 0.2s, color 0.2s;
    cursor: pointer;
    &:hover {
      color: $gray-faded;
      border: 2px solid $green-dull;
    }
    &:active {
      color: $gray-light;
      border: 2px solid $green-light;
    }
  }
}

.selectMood {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.journalEntry {
  display: flex;
  flex-direction: column;
  align-items: center;
}
