@use 'styles/variables' as *;
@use "styles/mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  min-width: 325px;
  max-width: 375px;
}

.formContainer {
  @include formContainer;
  p {
    color: $gray-dark;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.2s, text-decoration-color 0.2s;
    text-decoration: underline;
    text-decoration-color: transparent;
    &:hover {
      color: $green-faded;
      text-decoration-color: $green-faded;
    }
  }
  .formLinks {
    @include checkBox;
    width: 100%;
    display: flex;
    justify-content: space-between;
    label {
      transition: color 0.2s;
      user-select: none;
      color: $gray-dull;
      display: flex;
      gap: 0.3rem;
      cursor: pointer;
      &:hover {
        color: $green-faded;
      }
    }
  }
}
.rightInputIcon {
  @include rightInputIcon;
}
.leftInputIcon {
  @include leftInputIcon;
}
.inputCursor {
  @include inputCursor;
}